In [1]:
import pandas
import os
from src import model

In [2]:


# Go up one directory
import os
os.chdir("..")

In [3]:
Wheat = model.PyTradeShifts("Wheat", 2018)

In [4]:
Wheat.trade_data.head()

,Reporter Countries,Partner Countries,Element,Item,Unit,Quantity
19,Argentina,Algeria,Export Quantity,Wheat,tonnes,1301430.00
24,Argentina,Bangladesh,Export Quantity,Wheat,tonnes,246262.00
29,Argentina,Bolivia (Plurinational State of),Export Quantity,Wheat,tonnes,75956.10
33,Argentina,Brazil,Export Quantity,Wheat,tonnes,5910540.00
42,Argentina,Chile,Export Quantity,Wheat,tonnes,621948.02

In [7]:
Wheat.trade_matrix.head()

Partner Countries,Afghanistan,Albania,Algeria,Angola,Armenia,Austria,Azerbaijan,Bahrain,Bangladesh,Belarus,...,Türkiye,Uganda,United Arab Emirates,United Kingdom of Great Britain and Northern Ireland,United Republic of Tanzania,United States of America,Uzbekistan,Venezuela (Bolivarian Republic of),Viet Nam,Yemen
Reporter Countries,,,,,,,,,,,,,,,,,,,,,
Argentina,0.0,0.0,1301430.0,0.0,0.0,0.0,0.0,0.0,246262.0,0.0,...,0.0,73119.0,0.00,0.0,0.0,0.0,0.0,0.0,195099.0,0.0
Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,105316.7,91540.2,0.0,...,0.0,0.0,104946.31,0.0,0.0,0.0,0.0,0.0,956358.4,474185.0
Austria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Belgium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Brazil,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0